<%- include('partials/top') %>
  <h1>Blog Posts</h1>
  <ul>
  <% for (let i = 0; i < posts.length; i++) { %>
    <!-- <div class="row" style="font-weight: 600;">
      <div class="row-cols-1 row-cols-md-2 g-4" g-4>
      <div class="col">

        
          <div class="card">
         
            <div class="text-bg-secondary p-3">
              <div class="card-body" style="padding: 20px; margin:50px;">
                <li>
                  <a href="<%=posts[i].link%>" class="link-light"><%=posts[i].title%></a>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
    <div class="card mb-3" style="max-width: 540px;">
      
      <div class="row g-0">
        <div class="text-bg-secondary p-3">
        <div class="col-md-4">
          <!-- <img src="../images/banner.jpg" class="img-fluid rounded-start" alt="..."> -->
        </div>
        
        <div class="col-md-8">
          <div class="card-body" style="padding: 20px; margin:20px;">
            <li>
              <a href="<%=posts[i].link%>" class="link-light"><%=posts[i].title%></a>
            </li>
          </div>
        </div>
      </div>
      </div>
    </div>
  
      <!-- <li>
         <a href="<%=posts[i].link%>"><%=posts[i].title%></a>
      </li> -->
      <% } %>
  </ul>
<%- include('partials/bottom') %>