<%- include('partials/top') %>
<br>
<div class="container h-100">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column" style="flex-basis: 1500px; flex-grow: 100px; flex-shrink: 100px;">
      <h1>Blog Posts</h1>
    </div>
  </div>
</div>
  <ul style="list-style: none;">
     <div class="container h-100">
      <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column" style="flex-basis: 1000px; flex-grow: 100px; flex-shrink: 100px;">
    
        <% for (let i = 0; i < posts.length; i++) { %>
    
        <div class="card mb-3" style="max-width: 540px;">
        
          <!-- <div class="row g-0"> -->
            <div class="text-bg-secondary p-3">
            <div class="col-md-4">
              <!-- <img src="../images/banner.jpg" class="img-fluid rounded-start" alt="..." style="width: auto;">  -->
            </div> 
          
        <div class="col-md-8">
          <div class="card-body" style="padding: 20px; margin:20px; text-decoration:none;">
            <li>
              <a href="<%=posts[i].link%>" class="link-light" style="text-decoration:none;"><%=posts[i].title%></a>
            </li>
          </div>
        </div>
      </div>
    </div>



      <!-- <li>
         <a href="<%=posts[i].link%>"><%=posts[i].title%></a>
      </li> -->
      <% } %>
  </ul>
<%- include('partials/bottom') %>